:root {
    /* Color */
    --color-green: #55A44E;
    --color-yellow: #EDE9A3;
    --color-danger: #a44e55;
    --color-success: #55A44E;
    --color-info: #4ea496;
    --color-text: #3A3042;
    --color-light-green: #EAF6EA;

    /* Space */
    --space-medium: 16px;
}